title {
text-align: center;
}

header{
    font-size: 36px;
    text-align: center;
}

body {
    background-color: rgb(134, 93, 146);
}

#line{
    border-color: black;
}

#techExp {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}