header{
    font-family:Roboto, sans-serif;
    font-size: 36px;
}
/* CSS comment */

body {
    background-color: rgba(167, 167, 167, 0.692);
}

#line {
    border-color: black;
}

#contact-info{
    font-family: "Roboto Condensed";
}

.section-header {
    font-family: "Roboto Condensed",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-family: "Roboto Condensed",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#date {
float: right;
font-size: .8rem;
}

